#back{
	-fx-background-color: linear-gradient(rgba(255, 255, 255, 255),  rgba(255, 255, 255, 255));
}
#top{
	-fx-background-color: linear-gradient(rgba(12, 88, 219, 255),  rgba(78, 50, 120, 255));
}
#actionCol,#roleCol,#sectionCol{
	-fx-alignment: CENTER;
}

#section,#modify{
	-fx-alignment: CENTER;
}